node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# OTHER – THIS FOLDER NEEDS TO BE IGNORED BECAUSE IT CONTAINS FILES FOR VARIOUS DIFFERENT
# 3RD PARTY TOOLS AND SERVICES THAT SHOULD NOT BE TRACKED IN VERSION CONTROL,
# THEY ARE OPEN SOURCE BUT THEY ARE NOT MINE.
OTHER